$dark-background: #1e1e2e;
$dark-background-secondary: #313244;
$dark-color: #cdd6f4;
$dark-color-secondary: #bac2de;


$light-background: #eff1f5;
$light-background-secondary: #ccd0da;
$light-color: #4c4f69;
$light-color-secondary: #5c5f77;