{{ define "main" }}
    <main>
      <div class="home-avatar">
        {{ with resources.GetMatch "images/avatar.jpg" }}
        <img src="{{ .RelPermalink }}" />
        {{ end }}
      </div>

      <div class="home-title">
        <h1>{{ .Site.Params.homeTitle }}</h1>
      </div>

      <div class="home-subtitle">
        <p>{{ .Site.Params.homeSubtitle }}</p>
      </div>

      <div class="home-socials">
        {{ range .Site.Params.social }}
            <a href="{{ .url }}" {{ if .newpage }} target="_blank" {{ end }} title="{{ .name | humanize }}">{{ partial "social-icons.html" . }}</a>
        {{ end }}
      </div>
    </main>
{{ end }}
